
@media screen and (max-width:768px) {

    footer{
        border: 2px solid red;
        margin: 0;
        padding: 0;
        background-color:hsl(216, 53%, 9%) ;
        margin-top: 200px;
        text-align: left;
    }
    
}