*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #909193;
    font-weight: bolder;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.3s ease;
}
.nav-link:hover{
    color: blue;
}

/* css for hamburger menu */
.hamburger{
    display: none;
    cursor: pointer;
    background-color: #000;
}
.bar{
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;

}

@media(max-width:768px) {
    
    .hamburger{
        display: block;

    }
    .hamburger.active.bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active.bar:nth-child(1){
        transform: translateY(8px) rotate('45deg');
    }
    .hamburger.active.bar:nth-child(3){
        transform: translateY(-8px) rotate('45deg');
    }

    .nav-menu{
        position: fixed;
        left:-100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
    }

    .nav-item{
        margin: 16px 0;

    }
    .nav-menu.active{
        left: 0;
    }
    
}