body{
background-color:  hsl(212, 45%, 89%);
}

.scan{
    background-color: Light rgb(252, 252, 252);
    padding-top: 60px;
}
.card{
    background-color: White;
    margin: auto;
    width: 50%;
    padding: 10px;
.card-img-top{
    height: 230px;
    border-radius: 10px;
}
}
p.card-text{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    
}

h6{
    font-weight: 700;
    margin: auto;
    text-align: center;
    
}