body{
    background-color: hsl(204, 43%, 93%);
    text-align: left;
}

.flex{
    display: flex;
    background-color: hsl(179, 49%, 54%) ; 
    margin-top: -10px ;
    color: white;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    

}
.div2{
    width: 50%;
    margin-left: 20px;
    
    
}
.head1{
    color: hsl(179, 62%, 43%);
}
.head2{
    color:  hsl(71, 73%, 54%);
}
.div1{
    background-color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
}
.div3{
    margin-left: 100px;
    width: 50%;
}
.card{
    margin: 10px auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 20px;
    width:50%;

}
.btn{
    color: white;
    background-color:hsl(71, 73%, 54%) ;
    border-radius: 5px;
    padding: 10px 60px 10px 60px ;
    border: none;
}